<div class="pl-3">
<h4>WorkSpace : {{formName}}</h4>
</div>
<div class="row container">
    <div class="col-lg-6 border-right  h-60">
        <form #formCreate="ngForm">
            <div *ngIf="showQuestionInputForm && questionModels.length>0">
                <div name="phoneNumber" *ngFor="let questionModel of questionModels">
                <button class="default-btn">g1</button>
                <input [(ngModel)]="questionModel" name="question"  type="text" placeholder="Type question here..."/>
                    
                <pre></pre>
                
                <BR><BR>
                - <input type="text" name="choice"/>        
                </div>
            </div>
            <BR>
              
                
                <div class="dropdown show">
                    <a class="btn  dropdown-toggle" (click)="getQuestionTypes($event)" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <mat-icon>control_point</mat-icon>
                    </a>
                    <label>Add your first question</label>
                    <div class="dropdown-menu show" *ngIf="showQuestionTypes" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item">Choose a question type</a>  
                      <a class="dropdown-item" (click)="selectQuestion(questionType.questionTypeKey)" *ngFor="let questionType of questionTypes">{{questionType.questionTypeName}}</a>
                    </div>
                  </div>
                  

    <!-- 
            <select [(ngModel)]="questionTypeModel" name="questionType" *ngIf="showQuestionTypes" (ngModelChange)="showQuestionInput($event)">
                <option value="">Choose a question type</option>
                <option *ngFor="let questionType of questionTypes" [value]="questionType.questionTypeKey">{{questionType.questionTypeName}}</option>
            </select> -->
            </form>
    </div>
    <div class="col-lg-5">
        <div>
            kkkkk
        </div>
    </div>
</div>
<!-- <div style="display: flex; padding-top: 35px;padding-left: 150px;">      
<div style="width: 500px;"> 
   <add-question></add-question>
   
</div>

<div style="width: 400px; padding-left: 20px;"> 
   <show-question></show-question>
  <select>
      <option>codes</option>
      <option>U.S.</option>
      <option>Spain</option>
  </select>
  <input type="text" name="phoneNumber" placeholder="(201)555-0123" [value]="">
</div>

</div> -->