<div>
<div class="header-main">
        <div class="block">
         <div class="header-bar" style="padding-left: 100px;">
         <a class="home-img-link"></a>         
         <ul class="header-tabs-ul">      
             <li class="header-tab-li">
                 <a class="header-tab-text" routerLink="/workspace">Loan Onboarding Module</a>
             </li>
            <li class="header-tab-li">
                         <a class="header-tab-text">CDFI Dashboard</a>
               </li>
               <li class="header-tab-li">
                       <a class="header-tab-text">Business Dashboard</a>
             </li>
             
            <li class="header-tab-li">
                  <a class="header-tab-text">Investor Dashboard</a>
          </li>

          <li class="header-tab-li">
            <a class="button-style">Sign In</a>
          </li>
         </ul>
       </div>
         
        </div>
       </div>
    </div>       
